<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-slides pager={true} >

    <!-- the first slide -->
    <ion-slide>
      <div class="slide1">
        <h1 class="underline">About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, maxime! Cupiditate optio rerum iusto adipisci, vero quaerat ab asperiores facere expedita commodi earum quo est quidem esse illo, voluptates doloribus.</p>
        <img src="./assets/shapes.svg"/>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit maiores ut sequi tempora ea amet quibusdam enim expedita qui fugiat quisquam cumque, eligendi aliquid error, velit blanditiis porro perspiciatis repellat!</p>
      </div>
    </ion-slide>

    <!-- the second slide -->
    <ion-slide>
      <div class="slide2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, maxime! Cupiditate optio rerum iusto adipisci, vero quaerat ab asperiores facere expedita commodi earum quo est quidem esse illo, voluptates doloribus.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit maiores ut sequi tempora ea amet quibusdam enim expedita qui fugiat quisquam cumque, eligendi aliquid error, velit blanditiis porro perspiciatis repellat!</p>
        <img src="./assets/shapes.svg"/>
      </div>
    </ion-slide>

    <!-- the third slide -->
    <ion-slide>
      <div class="slide3">
        <h1 class="underline">Principal & CEO</h1>
        <h4 class="underline" >Messages</h4>
        <img src="./assets/shapes.svg"/>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, maxime! Cupiditate optio rerum iusto adipisci, vero quaerat ab asperiores facere expedita commodi earum quo est quidem esse illo, voluptates doloribus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, quas. In nulla voluptatem veritatis? Doloremque dignissimos voluptas soluta inventore est omnis. Porro doloremque quia doloribus officiis nam, dicta voluptas molestiae!</p>
      </div>
    </ion-slide>

    <!-- the Fourt slide -->
    <ion-slide>
      <div class="slide4">
        <h1 class="underline">President</h1>
        <h4 class="underline">Messages</h4>
        <img src="./assets/shapes.svg"/>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, maxime! Cupiditate optio rerum iusto adipisci, vero quaerat ab asperiores facere expedita commodi earum quo est quidem esse illo, voluptates doloribus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, quas. In nulla voluptatem veritatis? Doloremque dignissimos voluptas soluta inventore est omnis. Porro doloremque quia doloribus officiis nam, dicta voluptas molestiae!</p>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
