ion-slides {
  height: 100%;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem 2.5rem;
  position: relative;
  text-align: left;
  width: 100%;
}

h4 {
  padding: 0.5rem 2.5rem;
  position: relative;
  text-align: left;
  width: 100%;
}

.swiper-slide img {
  max-height: 70%;
  max-width: 80%;
  margin: 10px 0 10px;
  pointer-events: none;
}

h1:after{
  border-top: 3px solid var(--ion-color-primary);
  bottom: 0;
  content: '';
  left: 2.5rem;
  width: 30%;
  position: absolute; 
}

h4:after{
  border-top: 3px solid var(--ion-color-primary);
  bottom: 0;
  content: '';
  left: 2.5rem;
  width: 40%;
  position: absolute;
  
}

div{
  margin:0;
}

p {
  padding: 0 40px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}

  