<ion-header>
  <ion-toolbar color="tertiary">
    <!-- ion-buttons will sort the buttons according to slot (start, middle, end). -->
    <!-- this button will take the user back to the course list page -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/institutes/courses-list" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>

    <ion-title color="secondary">{{ course.code }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="course.institute">
  <ion-slides scrollbar={true} >

    <!-- the first slide -->
    <!-- this slide has the title and description of the course -->
    <ion-slide >
      <div class="slide1">
        <h1 class="underline">{{ course.title }}</h1>
        <h4 >About</h4>
        <p>{{ course.desc_en }}</p>
      </div>
    </ion-slide>

    <!-- the second slide -->
    <!-- this slide has the rest information of the course -->
    <ion-slide >
      <div class="slide2">
        <h4 >MQF Level:</h4>
        <p>Level {{ course.mqf }}</p>

        <h4 >Course Duration:</h4>
        <p>{{ course.duration }} Years</p>

        <h4 >Entry Requirements:</h4>
        <p>{{ course.req_entry }}</p>
      
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
