<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>institutes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <h1>Select the institute</h1>
  <div class="ion-padding">

    <ion-button expand="block">Applied Science</ion-button>
    <ion-button expand="block">Business Management & Commerce</ion-button>
    <ion-button expand="block">Community Services</ion-button>
    <ion-button expand="block">Creative Arts</ion-button>
    <ion-button expand="block">Engineering &Transport</ion-button>
    <ion-button expand="block">Information & Communication Technology</ion-button>
    <ion-button expand="block">Gozo Campus</ion-button>
    <ion-button expand="block">Masters</ion-button>
  </div>

</div>
</ion-content>
