<app-header></app-header>

<ion-content color="secondary">
  <div class="ion-padding">
    <!-- Titile -->
    <h1 class="underline">Select the institute</h1>
    <!-- This loop will happen to form the buttons of institutes -->
    <ion-list *ngFor="let x of institutes; let i = index">
      <!-- When a button is clicked it will be directed to the courseList-->
        <ion-button (click)="selectedIndex = i" 
                    routerDirection="root" 
                    [routerLink]="[x.url]"
                    [class.selected]="selectedIndex == i"
                    [color]="x.code" 
                    shape="round" 
                    expand="block">{{ x.title }}</ion-button>
    </ion-list>
  </div>

</ion-content>
