<app-header></app-header>

<ion-content color="secondary">
  <div class="ion-padding">
    <!-- Titile -->
    <h1 class="underline">Select the institute</h1>
    <!-- This loop will happen to form the buttons of institutes -->
    <ion-list>
      <!-- When a button is clicked it will be directed to the courseList-->
        <ion-item button
                    *ngFor="let institute of institutes"
                    [color]="institute.code"
                    [routerLink]="['courses-list', institute.code]"
                    expand="block">{{ institute.name_en }}</ion-item>
    </ion-list>
  </div>

</ion-content>
