h1{
    font-size: 2rem;
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
}

h1:after{
    border-top: 3px solid var(--ion-color-primary);
    bottom: 0;
    content: '';
    left: 0;
    width: 50%;
    position: absolute;
    
}
ion-list {
    background: var(--ion-color-secondary, var(--ion-color-secondary, --ion-color-secondary));
    padding-top: 0;
    ion-button{
        height: 46px;   
        font-size: 16px;
    }
  }
