<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div class="ion-padding">
    <!-- Titile -->
    <h1 class="underline">We are here for you</h1>

    <div class="buttons">
      <!-- creating the buttons -->
      <ion-button shape="round" expand="block">Agenzija Zghazagh youth club</ion-button>
      <ion-button shape="round" expand="block">Grievance Ofiice</ion-button>
      <ion-button shape="round" expand="block">Support</ion-button>
      <ion-button shape="round" expand="block">Corporate Services</ion-button>
      <ion-button shape="round" expand="block">Kunsill Studenti MCAST</ion-button>
    </div>
  </div>

</ion-content>
