// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #DC2326;
  --ion-color-primary-rgb: 220,35,38;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #c21f21;
  --ion-color-primary-tint: #e0393c;

  /** secondary **/
  --ion-color-secondary: #222222;
  --ion-color-secondary-rgb: 34,34,34;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1e1e1e;
  --ion-color-secondary-tint: #383838;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255,255,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;

  /** Institutes colors**/
  /** Other Courses **/
  --ion-color-oc: #ffffff;
  --ion-color-oc-rgb: 255,255,255;
  --ion-color-oc-contrast: #000000;
  --ion-color-oc-contrast-rgb: 0,0,0;
  --ion-color-oc-shade: #e0e0e0;
  --ion-color-oc-tint: #ffffff;

  /** Aplied Science **/
  --ion-color-ias: #5DA733;
  --ion-color-ias-rgb: 93,167,51;
  --ion-color-ias-contrast: #000000;
  --ion-color-ias-contrast-rgb: 0,0,0;
  --ion-color-ias-shade: #52932d;
  --ion-color-ias-tint: #6db047;

  /** Business Management & Commerce **/
  --ion-color-ibmc: #DB0642;
  --ion-color-ibmc-rgb: 219,6,66;
  --ion-color-ibmc-contrast: #ffffff;
  --ion-color-ibmc-contrast-rgb: 255,255,255;
  --ion-color-ibmc-shade: #c1053a;
  --ion-color-ibmc-tint: #df1f55;

  /** Community Services **/
  --ion-color-ics: #F4B719;
  --ion-color-ics-rgb: 244,183,25;
  --ion-color-ics-contrast: #000000;
  --ion-color-ics-contrast-rgb: 0,0,0;
  --ion-color-ics-shade: #d7a116;
  --ion-color-ics-tint: #f5be30;

  /** Creative Arts **/
  --ion-color-ica: #CA2F88;
  --ion-color-ica-rgb: 202,47,136;
  --ion-color-ica-contrast: #ffffff;
  --ion-color-ica-contrast-rgb: 255,255,255;
  --ion-color-ica-shade: #b22978;
  --ion-color-ica-tint: #cf4494;

  /** Engineering & Transport **/
  --ion-color-iet: #0F55B5;
  --ion-color-iet-rgb: 15,85,181;
  --ion-color-iet-contrast: #ffffff;
  --ion-color-iet-contrast-rgb: 255,255,255;
  --ion-color-iet-shade: #0d4b9f;
  --ion-color-iet-tint: #2766bc;

  /** Information & Communication Technology **/
  --ion-color-iict: #E96C24;
  --ion-color-iict-rgb: 233,108,36;
  --ion-color-iict-contrast: #000000;
  --ion-color-iict-contrast-rgb: 0,0,0;
  --ion-color-iict-shade: #cd5f20;
  --ion-color-iict-tint: #eb7b3a;

  /** General Degrees **/
  --ion-color-gd: #000000;
  --ion-color-gd-rgb: 0,0,0;
  --ion-color-gd-contrast: #ffffff;
  --ion-color-gd-contrast-rgb: 255,255,255;
  --ion-color-gd-shade: #000000;
  --ion-color-gd-tint: #1a1a1a;
  
  /** Gozo Campus **/
  --ion-color-gc: #1ABCEE;
  --ion-color-gc-rgb: 26,188,238;
  --ion-color-gc-contrast: #000000;
  --ion-color-gc-contrast-rgb: 0,0,0;
  --ion-color-gc-shade: #17a5d1;
  --ion-color-gc-tint: #31c3f0;

  /** Masters **/
  --ion-color-md: #9337A0;
  --ion-color-md-rgb: 147,55,160;
  --ion-color-md-contrast: #ffffff;
  --ion-color-md-contrast-rgb: 255,255,255;
  --ion-color-md-shade: #81308d;
  --ion-color-md-tint: #9e4baa;

  /** CPD **/
  --ion-color-cpd: #000000;
  --ion-color-cpd-rgb: 0,0,0;
  --ion-color-cpd-contrast: #ffffff;
  --ion-color-cpd-contrast-rgb: 255,255,255;
  --ion-color-cpd-shade: #000000;
  --ion-color-cpd-tint: #1a1a1a;
}

/** defining the new colors **/
.ion-color-oc {
  --ion-color-base: var(--ion-color-oc);
  --ion-color-base-rgb: var(--ion-color-oc-rgb);
  --ion-color-contrast: var(--ion-color-oc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-oc-contrast-rgb);
  --ion-color-shade: var(--ion-color-oc-shade);
  --ion-color-tint: var(--ion-color-oc-tint);
}

.ion-color-ias {
  --ion-color-base: var(--ion-color-ias);
  --ion-color-base-rgb: var(--ion-color-ias-rgb);
  --ion-color-contrast: var(--ion-color-ias-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ias-contrast-rgb);
  --ion-color-shade: var(--ion-color-ias-shade);
  --ion-color-tint: var(--ion-color-ias-tint);
}

.ion-color-ibmc {
  --ion-color-base: var(--ion-color-ibmc);
  --ion-color-base-rgb: var(--ion-color-ibmc-rgb);
  --ion-color-contrast: var(--ion-color-ibmc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ibmc-contrast-rgb);
  --ion-color-shade: var(--ion-color-ibmc-shade);
  --ion-color-tint: var(--ion-color-ibmc-tint);
}

.ion-color-ics {
  --ion-color-base: var(--ion-color-ics);
  --ion-color-base-rgb: var(--ion-color-ics-rgb);
  --ion-color-contrast: var(--ion-color-ics-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ics-contrast-rgb);
  --ion-color-shade: var(--ion-color-ics-shade);
  --ion-color-tint: var(--ion-color-ics-tint);
}

.ion-color-ica {
  --ion-color-base: var(--ion-color-ica);
  --ion-color-base-rgb: var(--ion-color-ica-rgb);
  --ion-color-contrast: var(--ion-color-ica-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ica-contrast-rgb);
  --ion-color-shade: var(--ion-color-ica-shade);
  --ion-color-tint: var(--ion-color-ica-tint);
}

.ion-color-iet {
  --ion-color-base: var(--ion-color-iet);
  --ion-color-base-rgb: var(--ion-color-iet-rgb);
  --ion-color-contrast: var(--ion-color-iet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iet-contrast-rgb);
  --ion-color-shade: var(--ion-color-iet-shade);
  --ion-color-tint: var(--ion-color-iet-tint);
}

.ion-color-iict {
  --ion-color-base: var(--ion-color-iict);
  --ion-color-base-rgb: var(--ion-color-iict-rgb);
  --ion-color-contrast: var(--ion-color-iict-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iict-contrast-rgb);
  --ion-color-shade: var(--ion-color-iict-shade);
  --ion-color-tint: var(--ion-color-iict-tint);
}

.ion-color-gd {
  --ion-color-base: var(--ion-color-gd);
  --ion-color-base-rgb: var(--ion-color-gd-rgb);
  --ion-color-contrast: var(--ion-color-gd-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gd-contrast-rgb);
  --ion-color-shade: var(--ion-color-gd-shade);
  --ion-color-tint: var(--ion-color-gd-tint);
}

.ion-color-gc {
  --ion-color-base: var(--ion-color-gc);
  --ion-color-base-rgb: var(--ion-color-gc-rgb);
  --ion-color-contrast: var(--ion-color-gc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gc-contrast-rgb);
  --ion-color-shade: var(--ion-color-gc-shade);
  --ion-color-tint: var(--ion-color-gc-tint);
}

.ion-color-md {
  --ion-color-base: var(--ion-color-md);
  --ion-color-base-rgb: var(--ion-color-md-rgb);
  --ion-color-contrast: var(--ion-color-md-contrast);
  --ion-color-contrast-rgb: var(--ion-color-md-contrast-rgb);
  --ion-color-shade: var(--ion-color-md-shade);
  --ion-color-tint: var(--ion-color-md-tint);
}

.ion-color-cpd {
  --ion-color-base: var(--ion-color-cpd);
  --ion-color-base-rgb: var(--ion-color-cpd-rgb);
  --ion-color-contrast: var(--ion-color-cpd-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cpd-contrast-rgb);
  --ion-color-shade: var(--ion-color-cpd-shade);
  --ion-color-tint: var(--ion-color-cpd-tint);
}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
  /** primary **/
  --ion-color-primary: #DC2326;
  --ion-color-primary-rgb: 220,35,38;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #c21f21;
  --ion-color-primary-tint: #e0393c;

  /** secondary **/
  --ion-color-secondary: #222222;
  --ion-color-secondary-rgb: 34,34,34;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1e1e1e;
  --ion-color-secondary-tint: #383838;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255,255,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;

  /** Institutes colors**/
    /** Other Courses **/
    --ion-color-oc: #ffffff;
    --ion-color-oc-rgb: 255,255,255;
    --ion-color-oc-contrast: #000000;
    --ion-color-oc-contrast-rgb: 0,0,0;
    --ion-color-oc-shade: #e0e0e0;
    --ion-color-oc-tint: #ffffff;
  
    /** Aplied Science **/
    --ion-color-ias: #5DA733;
    --ion-color-ias-rgb: 93,167,51;
    --ion-color-ias-contrast: #000000;
    --ion-color-ias-contrast-rgb: 0,0,0;
    --ion-color-ias-shade: #52932d;
    --ion-color-ias-tint: #6db047;
  
    /** Business Management & Commerce **/
    --ion-color-ibmc: #DB0642;
    --ion-color-ibmc-rgb: 219,6,66;
    --ion-color-ibmc-contrast: #ffffff;
    --ion-color-ibmc-contrast-rgb: 255,255,255;
    --ion-color-ibmc-shade: #c1053a;
    --ion-color-ibmc-tint: #df1f55;
  
    /** Community Services **/
    --ion-color-ics: #F4B719;
    --ion-color-ics-rgb: 244,183,25;
    --ion-color-ics-contrast: #000000;
    --ion-color-ics-contrast-rgb: 0,0,0;
    --ion-color-ics-shade: #d7a116;
    --ion-color-ics-tint: #f5be30;
  
    /** Creative Arts **/
    --ion-color-ica: #CA2F88;
    --ion-color-ica-rgb: 202,47,136;
    --ion-color-ica-contrast: #ffffff;
    --ion-color-ica-contrast-rgb: 255,255,255;
    --ion-color-ica-shade: #b22978;
    --ion-color-ica-tint: #cf4494;
  
    /** Engineering & Transport **/
    --ion-color-iet: #0F55B5;
    --ion-color-iet-rgb: 15,85,181;
    --ion-color-iet-contrast: #ffffff;
    --ion-color-iet-contrast-rgb: 255,255,255;
    --ion-color-iet-shade: #0d4b9f;
    --ion-color-iet-tint: #2766bc;
  
    /** Information & Communication Technology **/
    --ion-color-iict: #E96C24;
    --ion-color-iict-rgb: 233,108,36;
    --ion-color-iict-contrast: #000000;
    --ion-color-iict-contrast-rgb: 0,0,0;
    --ion-color-iict-shade: #cd5f20;
    --ion-color-iict-tint: #eb7b3a;
  
    /** General Degrees **/
    --ion-color-gd: #000000;
    --ion-color-gd-rgb: 0,0,0;
    --ion-color-gd-contrast: #ffffff;
    --ion-color-gd-contrast-rgb: 255,255,255;
    --ion-color-gd-shade: #000000;
    --ion-color-gd-tint: #1a1a1a;
    
    /** Gozo Campus **/
    --ion-color-gc: #1ABCEE;
    --ion-color-gc-rgb: 26,188,238;
    --ion-color-gc-contrast: #000000;
    --ion-color-gc-contrast-rgb: 0,0,0;
    --ion-color-gc-shade: #17a5d1;
    --ion-color-gc-tint: #31c3f0;
  
    /** Masters **/
    --ion-color-md: #9337A0;
    --ion-color-md-rgb: 147,55,160;
    --ion-color-md-contrast: #ffffff;
    --ion-color-md-contrast-rgb: 255,255,255;
    --ion-color-md-shade: #81308d;
    --ion-color-md-tint: #9e4baa;
  
    /** CPD **/
    --ion-color-cpd: #000000;
    --ion-color-cpd-rgb: 0,0,0;
    --ion-color-cpd-contrast: #ffffff;
    --ion-color-cpd-contrast-rgb: 255,255,255;
    --ion-color-cpd-shade: #000000;
    --ion-color-cpd-tint: #1a1a1a;
}



  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}