<ion-header>
  <ion-toolbar color="tertiary">
    <!-- ion-buttons will sort the buttons according to slot (start, middle, end). -->
    <!-- this button will take the user back to the students work page -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/students-work" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>

    <ion-title color="secondary">Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <!-- the images are for deafult to show the structure of how they can be placed using a grid-->
    <!-- Titile -->
    <h1 class="ion-padding">Institute of ICT:</h1>
    <!-- a row with 2 colums -->
    <ion-row>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- a row with 3 colums -->
    <ion-row>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- a row with 3 colums -->
    <ion-row>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col col-6>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- Titile -->
    <h1 class="ion-padding">Institute of Creative Arts:</h1>
    <!-- a row with 2 colums -->
    <ion-row>
      <ion-col col-6>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- a row with 2 colums -->
    <ion-row>
      <ion-col offset-4>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- a row with 4 colums -->
    <ion-row>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col offset-4>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>

    <!-- a row with 4 colums -->
    <ion-row>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
      <ion-col>
        <img src="./assets/shapes.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
