ion-menu{
  
  ion-content {
    --background: var(--ion-color-tertiary, var(--ion-color-tertiary, --ion-color-tertiary));
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 20px;
  }

  ion-list {
    background: var(--ion-color-tertiary, var(--ion-color-tertiary, --ion-color-tertiary));
    padding-top: 0;
  }
  
  ion-list#list ion-list-header {
  color: var(--ion-color-secondary);
  border-bottom: 2px solid var(--ion-color-secondary);

    h2{
      font-size: 22px;
    }
  }
  
  ion-item {
    --background: var(--ion-color-tertiary);
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 50px;
    border-bottom: 2px solid var(--ion-color-primary);
    
    ion-icon {
      font-size: 24px;
      color: var(--ion-color-secondary);
    }

    ion-label {
      color: var(--ion-color-secondary);
      font-size: 16px;
      font-weight: 500;
    }
  }
  
  ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
    --color: var(--ion-color-primary);
    
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}
