.course{
    margin-bottom: 2rem;
}
.subtitle{

    font-size: 1rem;
    font-weight: bold;

}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0rem 0;
    position: relative;
    width: 100%;
}

.title:after{
    border-top: 3px solid var(--ion-color-secondary);
    bottom: 0;
    content: '';
    left: 0;
    width: 60%;
    position: absolute;
}

p{
    font-size: 16px;
    line-height: 1.5;
}