<ion-header>
  <ion-toolbar color="tertiary">
    <!-- ion-buttons will sort the buttons according to slot (start, middle, end). -->
    <!-- this button will take the user back to the institute page -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/institutes" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>

    <ion-title color="secondary">{{ institute.code }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="institute.code" class="ion-padding">

  <!-- ion card that will loop for every course-->
  <!-- ngFor to loop the card and having different content -->
  <ion-card color="tertiary" class="course" *ngFor="let course of institute.courses">
    <!-- some courses have images -->
    <img src="./assets/shapes.svg" />
    <!-- title of the course and subtitle(course number) -->
    <ion-card-header>
      <ion-card-subtitle [ngStyle]="{ 'color': institute.code }" class=subtitle>{{ course.code }}</ion-card-subtitle>
      <ion-card-title class=title>{{ course.title }}</ion-card-title>
    </ion-card-header>
    
    <!-- short description of the course -->
    <ion-card-content>
      <p>{{ course.desc_en }}</p>
      <!-- button that will load all the info of course-->
      <ion-button [color]="institute.code" shape="round" [routerLink]="['/institutes', 'course', course.code]">
        Read more
        <ion-icon class="ion-padding" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  

</ion-content>
