<app-header></app-header>

<ion-content color="tertiary">
  <div class="ion-padding">
    <!-- Titile and description -->
    <h1 class="underline">Students works</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nobis amet, enim cumque quod architecto. Dolores dicta eius explicabo pariatur doloremque dolore excepturi exercitationem quam, officia voluptas debitis dignissimos assumenda!</p>
    <img src="./assets/shapes.svg"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo ex dolore vero est quidem modi eius rerum voluptas nihil at porro fuga quaerat voluptates provident, nulla quo corporis voluptatum.</p>
    <div class="buttons">
      <!-- This button is linked to the gallery -->
      <ion-button expand="block" [routerLink]="['/students-work', 'gallery']">Show Gallery</ion-button>
    </div>
  </div>

  <div class="ion-padding">
    <!-- Titile and description -->
    <h1 class="underline">ICA festival</h1>
    <img src="./assets/shapes.svg"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo ex dolore vero est quidem modi eius rerum voluptas nihil at porro fuga quaerat voluptates provident, nulla quo corporis voluptatum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo ex dolore vero est quidem modi eius rerum voluptas nihil at porro fuga quaerat voluptates provident, nulla quo corporis voluptatum.</p>
  </div>
  
</ion-content>
